@model PackFoodReady2Go.Core.AboutUs


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="goto-here">
    
    <div class="hero-wrap hero-bread" style="background-image: url('@Url.Content("~/img/" + @Model.AboutImage)');">

        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-area="" asp-controller="Customer" style="font-size:15px;color:white;font-weight:700; text-shadow: 0 0 3px #0d491b, 0 0 5px #000000;">Home</a></span> / <span style="font-size:15px;color:white;font-weight:700; text-shadow: 0 0 3px #0d491b, 0 0 5px #000000;">About us</span></p>
                    <h1 class="mb-0 bread" style="color:white;font-weight:700; text-shadow: 0 0 3px #0d491b, 0 0 5px #000000;font-size:28px">@Model.Title</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light text-center" style="width:100%">

        <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate  text-center" style="margin-left:20%">
                     <div class="section-bold mb-4 mt-5" >
                        <div >
                            <h2 >@Model.Ashortdescription</h2>
                        </div>
                    </div>
                    <div class="pb-md-5" >
                <p >@Model.ADescription</p>
                <p ><a asp-action="Shop" asp-controller="Product" class="btn btn-primary">@Model.ButtonText</a></p>
                    </div>
        </div>
    </section>

  

    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('@Url.Content("~/img/" + @Model.AboutImage2)');">
            <div class="row  py-5">
                <div class="col">
                    <div class="row" style="margin-left:400px">
                        <div class="col-md-3 d-flex  counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                <strong class="number" data-number="@ViewData["TotalCustomers"]"></strong>
                                    <span>Total Customer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex  counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                <strong class="number" data-number="@ViewData["TotalProducts"]"></strong>
                                    <span>Sold Product</span>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-3 d-flex  counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="@Model.Awards"></strong>
                                    <span>Awards</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row no-gutters ftco-services">
                <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Free Shipping</h3>
                            <span>On order over $100</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-diet"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Always Fresh</h3>
                            <span>Product well package</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-award"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Superior Quality</h3>
                            <span>Quality Products</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Support</h3>
                            <span>24/7 Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
   

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>